<!-- templates/coment_list.html-->
{% extends 'base.html' %}

{% block title %}Cometários{% endblock %}

{% block content %}
  <h1>Comentários</h1>
  <div>
    <h1>       </h1>
	<a href="{% url 'coments' %}create">Criar novo registro...</a>
    <h1>       </h1>
 </div>
 
  {% if coment_list %}
  <ul>
    {% for c in coment_list %}
      <li>
        <a href="{{ c.get_absolute_url }}">{{ c.assunto }}::{{ c.detalhe }}</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>Não existem comentários no lab.</p>
  {% endif %}
{% endblock %}

{% block content1 %}
	<p>Faça o login para acessar o conteúdo.</p>
	
{% endblock %}

